@import url("https://fonts.googleapis.com/css2?family=Rubik:wght@400;500;700&display=swap");
html {
  font-family: "Rubik", sans-serif;
  font-size: 62.5%;
}
html body {
  padding: 1.6rem 3.2rem;
  padding-bottom: 3.2rem;
  background-color: hsl(228, 33%, 97%);
  position: relative;
}
html .comment-box {
  margin: 1.6rem 0;
  padding: 1.6rem;
  background-color: hsl(0, 0%, 100%);
  border-radius: 0.8rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: left;
  position: relative;
}
html .comment-box .user {
  margin-bottom: 1.5rem;
  gap: 1.6rem;
  display: flex;
  justify-content: left;
  align-items: center;
}
html .comment-box .user img {
  width: 3.2rem;
  height: 3.2rem;
}
html .comment-box .user h2 {
  font-weight: 500;
  font-size: 1.6rem;
  line-height: 1.9rem;
  letter-spacing: unset;
  text-transform: unset;
  color: hsl(212, 24%, 26%);
}
html .comment-box .user p {
  font-weight: 400;
  font-size: 1.6rem;
  line-height: 2.4rem;
  letter-spacing: unset;
  text-transform: unset;
  color: hsl(211, 10%, 45%);
}
html .comment-box .user .you {
  width: 3.9rem;
  height: 1.9rem;
  border-radius: 0.2rem;
  background-color: hsl(238, 40%, 52%);
  display: flex;
  color: hsl(0, 0%, 100%);
  justify-content: center;
  align-items: center;
}
html .comment-box .content {
  font-weight: 400;
  font-size: 1.6rem;
  line-height: 2.4rem;
  letter-spacing: unset;
  text-transform: unset;
  color: hsl(211, 10%, 45%);
}
html .comment-box .tagName {
  font-weight: 400;
  font-size: 1.6rem;
  line-height: 2.4rem;
  letter-spacing: unset;
  text-transform: unset;
  color: hsl(238, 40%, 52%);
  font-weight: 500;
}
html .comment-box .vote-box {
  width: 10rem;
  height: 4rem;
  border-radius: 1rem;
  padding: 1rem 1.2rem;
  margin-top: 1.5rem;
  background-color: hsl(228, 33%, 97%);
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  font-weight: 500;
  font-size: 1.6rem;
  line-height: 1.9rem;
  letter-spacing: unset;
  text-transform: unset;
  color: hsl(238, 40%, 52%);
}
html .comment-box .vote-box .plus,
html .comment-box .vote-box .minus {
  font-size: 1.8rem;
  color: hsl(239, 57%, 85%);
}
html .comment-box .vote-box .plus:hover,
html .comment-box .vote-box .minus:hover {
  cursor: pointer;
}
html .comment-box .interaction {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1.6rem;
  font-weight: 500;
  font-size: 1.6rem;
  line-height: 2.4rem;
  letter-spacing: unset;
  text-transform: capitalize;
  color: hsl(238, 40%, 52%);
  position: absolute;
  right: 1.6rem;
  left: unset;
  top: unset;
  bottom: 2.4rem;
}
html .comment-box .interaction img {
  margin-right: 0.8rem;
}
html .comment-box .interaction .delete {
  color: hsl(358, 79%, 66%);
}
html .comment-box .interaction .delete:hover,
html .comment-box .interaction .reply:hover,
html .comment-box .interaction .edit:hover {
  cursor: pointer;
}
html .new-comment {
  background-color: hsl(0, 0%, 100%);
  display: flex;
  flex-direction: column;
  border-radius: 0.8rem;
  padding: 1.6rem 1.6rem 1.3rem 1.6rem;
  position: relative;
}
html .new-comment .textArea {
  height: 9.6rem;
  border-radius: 0.8rem;
  border: 1px solid hsl(223, 19%, 93%);
  padding: 1.2rem 2.4rem;
  resize: none;
  margin-bottom: 1.6rem;
}
html .new-comment .textArea::-moz-placeholder {
  font-weight: 400;
  font-size: 1.6rem;
  line-height: 2.4rem;
  letter-spacing: unset;
  text-transform: unset;
  color: hsl(211, 10%, 45%);
}
html .new-comment .textArea::placeholder {
  font-weight: 400;
  font-size: 1.6rem;
  line-height: 2.4rem;
  letter-spacing: unset;
  text-transform: unset;
  color: hsl(211, 10%, 45%);
}
html .new-comment .textArea:hover {
  border: solid 1px hsl(238, 40%, 52%);
  cursor: pointer;
}
html .new-comment .textArea:focus {
  outline: none;
}
html .new-comment button {
  width: 10.4rem;
  height: 4.8rem;
  background-color: hsl(238, 40%, 52%);
  border-radius: 0.8rem;
  font-weight: 700;
  font-size: 1.6rem;
  line-height: 2.4rem;
  letter-spacing: unset;
  text-transform: uppercase;
  color: hsl(0, 0%, 100%);
  margin-left: auto;
}
html .new-comment button:hover {
  cursor: pointer;
}
html .new-comment img {
  width: 3.2rem;
  height: 3.2rem;
  position: absolute;
  right: unset;
  left: 1.6rem;
  top: unset;
  bottom: 2.1rem;
}
html .reply-container {
  padding-left: 1.6rem;
  border-left: solid 2px hsl(223, 19%, 93%);
}
html .edit-container {
  display: none;
  flex-direction: column;
  align-items: flex-end;
}
html .edit-container .editArea {
  width: 100%;
  height: 9.6rem;
  border-radius: 0.8rem;
  border: 1px solid hsl(223, 19%, 93%);
  padding: 1.2rem 2.4rem;
  resize: none;
  margin-bottom: 1.6rem;
}
html .edit-container .editArea:focus {
  outline: none;
}
html .edit-container .editArea:hover {
  border: solid 1px hsl(238, 40%, 52%);
  cursor: pointer;
}
html .edit-container button {
  width: 10.4rem;
  height: 4.8rem;
  background-color: hsl(238, 40%, 52%);
  border-radius: 0.8rem;
  font-weight: 700;
  font-size: 1.6rem;
  line-height: 2.4rem;
  letter-spacing: unset;
  text-transform: uppercase;
  color: hsl(0, 0%, 100%);
}
html .edit-container button:hover {
  cursor: pointer;
}
html #delete-comment {
  position: absolute;
  width: 100vw;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);
  right: 0rem;
  left: unset;
  top: 0rem;
  bottom: unset;
  display: flex;
  justify-content: center;
  padding: 1.6rem;
  display: none;
}
html #delete-comment > div {
  position: sticky;
  top: 22.3rem;
  height: -moz-fit-content;
  height: fit-content;
  border-radius: 0.8rem;
  background-color: hsl(0, 0%, 100%);
  opacity: 100%;
  max-width: 34.3rem;
  padding: 2.4rem;
}
html #delete-comment > div h3 {
  font-weight: 500;
  font-size: 2rem;
  line-height: 2.4rem;
  letter-spacing: unset;
  text-transform: unset;
  color: hsl(212, 24%, 26%);
}
html #delete-comment > div p {
  margin: 1.6rem 0;
  font-weight: 400;
  font-size: 1.6rem;
  line-height: 2.4rem;
  letter-spacing: unset;
  text-transform: unset;
  color: hsl(211, 10%, 45%);
}
html #delete-comment > div .buttons {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1.2rem;
}
html #delete-comment > div .buttons button {
  width: 13.8rem;
  height: 4.8rem;
  border-radius: 0.8rem;
  background-color: hsl(211, 10%, 45%);
  font-weight: 700;
  font-size: 1.6rem;
  line-height: 2.4rem;
  letter-spacing: unset;
  text-transform: uppercase;
  color: hsl(0, 0%, 100%);
}
html #delete-comment > div .buttons .yes {
  background-color: hsl(358, 79%, 66%);
}

@media (min-width: 1024px) {
  html body {
    padding: 4.2rem 3.2rem;
    display: flex;
    align-items: center;
    flex-direction: column;
  }
  html .container .comment-box {
    margin: 1rem 0;
    padding: 2.4rem;
    max-width: 73rem;
    gap: 2.4rem;
    flex-direction: row-reverse;
  }
  html .container .comment-box .vote-box {
    width: 4rem;
    height: 10rem;
    flex-direction: column;
  }
  html .container .comment-box .interaction {
    gap: 2.389rem;
    right: 2.4rem;
    left: unset;
    top: 2.8rem;
    bottom: unset;
  }
  html .container .comment-box .comment {
    width: 61.8rem;
  }
  html .reply-container {
    padding-left: 1.6rem;
    border-left: solid 2px hsl(223, 19%, 93%);
    margin-left: 4.3rem;
    margin-top: 1rem;
    margin-bottom: 1rem;
    padding-left: 4.3rem;
    display: flex;
    flex-direction: column;
    gap: 2rem;
  }
  html .reply-container .comment-box {
    width: 64.2rem;
    margin: 0;
  }
  html .reply-container .comment-box .comment {
    width: 53rem;
  }
  html .new-comment {
    flex-direction: row;
    gap: 1.6rem;
    padding: 2.4rem;
    width: 100%;
    max-width: 73rem;
    position: unset;
    margin-top: 1rem;
  }
  html .new-comment .textArea {
    margin-bottom: unset;
    width: 50.6rem;
  }
  html .new-comment button {
    margin-left: unset;
  }
  html .new-comment img {
    position: unset;
  }
  html #delete-comment {
    width: 100vw;
    height: 100vh;
    display: none;
  }
  html #delete-comment > div {
    top: 28.6rem;
    max-width: 40rem;
    margin-top: unset;
    padding: 3.2rem;
  }
  html #delete-comment > div p {
    margin: 2rem 0;
  }
  html #delete-comment > div .buttons {
    gap: 1.4rem;
  }
  html #delete-comment > div .buttons button {
    width: 16.1rem;
    height: 4.8rem;
  }
}/*# sourceMappingURL=style.css.map */